:root {
  --primary: #9c27b0;
  --primary-dark: #7b1fa2;
  --primary-light: #e1bee7;
}

/* Alert */
.alert-primary {
  background-color: var(--primary-light);
  color: rgba(0, 0, 0, 0.87);
}

/* Badges */
.badge-primary {
  background-color: var(--primary);
  color: white;
}

.badge-primary[href]:active, .badge-primary[href]:focus, .badge-primary[href]:hover {
  background-color: var(--primary-dark);
  color: white;
  text-decoration: none;
}

/* Blockquote */
.blockquote {
  border-left: 0.3125rem solid var(--primary);
}

/* Buttons */
.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-flat-primary, .btn-flat-primary:active, .btn-flat-primary:focus, .btn-flat-primary:hover,
.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
  color: var(--primary);
}

.btn-primary.active, .btn-primary:active {
  background-color: var(--primary-dark);
}

.btn-group > .btn-primary.disabled, .btn-group > .btn-primary:disabled,
.btn-group-vertical > .btn-primary.disabled,
.btn-group-vertical > .btn-primary:disabled {
  background-color: var(--primary-light);
  color: rgba(0, 0, 0, 0.87);
}

/* Cards */
.card.border-primary {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--primary);
}

.card.border-primary[href]:active, .card.border-primary[href]:focus, .card.border-primary[href]:hover, .card.border-primary[tabindex]:active, .card.border-primary[tabindex]:focus, .card.border-primary[tabindex]:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--primary);
}

/* Chip */
.chip-primary {
  background-color: var(--primary);
  color: white;
}

/* Table */
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: var(--primary);
  color: white;
}

.table-primary,
.table-primary > td,
.table-primary > th {
  background-color: var(--primary-light);
  color: rgba(0, 0, 0, 0.87);
}

/* Modal */
.modal-footer .btn-primary, .modal-footer .btn-primary:active, .modal-footer .btn-primary:focus, .modal-footer .btn-primary:hover {
  color: var(--primary);
}

/* List Group*/
.list-group-item-primary.active {
  background-color: var(--primary);
  color: white;
}

.list-group-item-primary.list-group-item-action:active, .list-group-item-primary.list-group-item-action:focus, .list-group-item-primary.list-group-item-action:hover {
  background-color: var(--primary);
  color: white;
}

.list-group-item-primary {
  background-color: var(--primary-light);
  color: rgba(0, 0, 0, 0.87);
}

/* Nav */
.navdrawer-nav .nav-link.active, .navdrawer-nav .nav-link:active {
  color: var(--primary);
}

.navdrawer-nav .active > .nav-link {
  color: var(--primary);
}

.nav-link:active .navdrawer-nav-icon,
.nav-link.active .navdrawer-nav-icon {
  color: var(--primary);
}

.active > .nav-link .navdrawer-nav-icon {
  color: var(--primary);
}


/* Date Picker */
.picker-date-display {
  background-color: var(--primary);
  color: white;
}

.picker-day.picker-day-selected {
  background-color: var(--primary);
  color: white;
}

.picker-day-today {
  color: var(--primary);
}

/* Progress */
.progress-bar.bg-primary {
  border-bottom-color: var(--primary);
}

.progress-bar.bg-primary::after {
  background-color: var(--primary-light);
}

.progress-bar-animated.bg-primary::before,
.progress-bar-striped.bg-primary::before {
  background-image: repeating-radial-gradient(0.125rem 0.125rem, var(--primary-light), var(--primary-light) 0.125rem, transparent 0.125rem, transparent 100%);
  background-image: -webkit-repeating-radial-gradient(0.125rem 0.125rem, var(--primary-light), var(--primary-light) 0.125rem, transparent 0.125rem, transparent 100%);
  background-image: -moz-repeating-radial-gradient(0.125rem 0.125rem, var(--primary-light), var(--primary-light) 0.125rem, transparent 0.125rem, transparent 100%);
}

.progress-bar-indeterminate.bg-primary {
  border-bottom-color: var(--primary-light);
}

.progress-bar-indeterminate.bg-primary::after, .progress-bar-indeterminate.bg-primary::before {
  background-color: var(--primary);
}

.progress-circular-primary .progress-circular-gap,
.progress-circular-primary .progress-circular-spinner {
  border-top-color: var(--primary);
}

.progress-circular-primary .progress-circular-spinner {
  border-top-color: var(--primary);
}

.progress-circular-primary .progress-circular-left .progress-circular-spinner {
  border-left-color: var(--primary);
}

.progress-circular-primary .progress-circular-right .progress-circular-spinner {
  border-right-color: var(--primary);
}

/* Stepper */
.stepper.active .stepper-icon,
.stepper.done .stepper-icon {
  background-color: var(--primary);
  color: white;
}

/* Toolbar*/

.toolbar-waterfall.waterfall {
  background-color: var(--primary);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

/* Border */
.border-primary {
  border-color: var(--primary) !important;
}

/* Background */
.bg-primary {
  background-color: var(--primary) !important;
}
a.bg-primary:active, a.bg-primary:focus, a.bg-primary:hover {
  background-color: var(--primary-dark) !important;
}
.bg-primary-dark {
  background-color: var(--primary-dark) !important;
}
.bg-primary-light {
  background-color: var(--primary-light) !important;
}

/* Text */
.text-primary {
  color: var(--primary) !important;
}
a.text-primary:active, a.text-primary:focus, a.text-primary:hover {
  color: var(--primary-dark) !important;
}
